body {
    background-image: url("./0\ eoqVzyWgYRxXEgiZ.jpeg");
    background-color: #cccccc;
   }

  h2{
    color:white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:white;
  }

  form{

    font-weight: bold;
  }